@charset"UTF-8";
html{
	height:100%;
	}
body{
	height:100%;
	width: 100%;
	margin:0 auto;
}
.block{
	height:200px;
	width:400px;
	background-color: #ccc;
	position: absolute;
	margin:-100px 0 0 -200px;
	left:50%;
	top:50%;
}
.block .left_up{
	position: absolute;
	height:0;
	width:50px;
	border-radius: 0 0 50px 0;
	border-bottom: 50px solid #fc0;
}
.block .right_down{
	position:absolute;
	height:0;
	width: 50px;
	bottom:0;
	right:0;
	border-radius: 50px 0 0 0;
	border-top: 50px solid #fc0;
}